<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <div>
        <div>
          <div>
            <img src="{{url_for('static',filename = 'girl-medium-skin-tone.png')}}"></img>
          </div>
          <div>
            <p>Sashana Ramsay</p>
            <p>@sasha</p>
            <p>Kingston, Jamaica</p>
            <p>Joined:{{date}}</p>
          </div>
        </div>
        <div>
           <p>I am a smart and talented young woman who loves website design and development. Contact me if you'd like to work together on a new project.</p>
        </div>
        <button type="button">Follow</button>
      </div>
  </body>
</html>

        